page-home {

  .sun-div{
    text-align: center;
    width: 240px;
    height: 240px;
    background-color: lightgoldenrodyellow;
    border: solid 2px red;
    border-radius: 50%;
    padding-top: 10px;

  }
}
